.login-modal-container {
  width: 23rem !important;
  margin: 7rem auto 0 auto;
}

.login-modal-title {
  font-size: 1.75rem !important;
}

@media only screen and (min-width: 768px) {
  .login-modal-container {
    width: 40rem !important;
  }
}
